{% extends '../main.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load icerik_methods %}

{% block title %} {{ soru.title }} - {{ block.super }} {% endblock %}

{% block content %}
<div class="row q-list">

{% if soru %}
<h1 title="{{ soru.title }}" class="big-title">{{ soru.title }}</h1>
<section class="col-sm-12">
<div id="question-bar" class="q-item pb10">


	<header>
			<img src="{{ soru.get_user_photo }}" alt="{{ soru.get_username }}" width="40" height="40"/>
			<span><strong><a href="{{ soru.get_user_profile }}" name="{{ soru.get_username }}">{{ soru.get_username }}</a></strong> <small>tarafından</small><br/> {{ soru.c_time|timesince }} <small>önce soruldu</small></span>
	</header>
	<article><hr/>{{ soru.content|safe }}<hr/></article>
	<footer class="row text-center">
		{% if user.is_authenticated %}
		<div class="col-xs-4"><a href="javascript:void(0)" id="like" class="{{ soru|add_question_liked_class:request.user }}"><em class="far fa-thumbs-up"></em> Beğen (<span>{{ soru.soru_oylari_set.count }}</span>)</a></div>
		{% else %}
		<div class="col-xs-4"><a href="javascript:void(0)" id="like" onclick="alert('Bu işlem için üye olmanız gereklidir.');"><em class="far fa-thumbs-up"></em> Beğen (<span>{{ soru.soru_oylari_set.count }}</span>)</a></div>
		{% endif %}
		<div class="col-xs-4"><a href="#yanitla"><em class="far fa-comment-alt"></em> Yorum Yaz</a></div>
		<div class="col-xs-4"><a href=""><em class="far fa-share-square"></em> Paylaş</a></div>
	</footer>
</div>
















<h3 class="big-title2 text-center">{% if cevaplar.count < 1 %}Bu İçeriğe Hiç Yanıt Yazılmamış{% else %}{{ cevaplar.count }} Adet Yanıt{% endif %}</h3>
{% for cevap in cevaplar.all %}
<div id="q-answer-{{ cevap.id }}" class="answer-bar q-item q-answer mt20">

	<header>
		<img src="{{ cevap.get_user_photo }}" alt="{{ cevap.get_username }}" width="40" height="40"/>
		<span><strong><a href="{{ cevap.get_user_profile }}" name="{{ cevap.get_username }}">{{ cevap.get_username }}</a></strong> <small>tarafından</small><br/> {{ cevap.c_time|timesince }} <small>önce yanıtlandı</small></span>
	</header><hr>
	<p>{{ cevap.content|safe }}</p>


	
	{% if cevap.alt_cevaplar.count > 0 %}
	<div class="sub_answers" id="sub_answers_{{ cevap.id }}">
		<h4 class="big-title3 text-center"> {{ cevap.alt_cevaplar.count }} adet yorum yazılmış.</h4>
		<div class="sub_answer_in">
		{% for alt_cevap in cevap.alt_cevaplar %}
			{% if forloop.counter <= 3 %}
				<div class="item" id="answer-{{ alt_cevap.id }}">
				<p><a href="{{ alt_cevap.user.url_profile }}" name="{{ alt_cevap.user }}" class="userurl">{{ alt_cevap.user }}</a> {{ alt_cevap.content|safe }} - <small class="timesince">{{ alt_cevap.c_time|timesince }}</small></p> 
				</div>
			{% else %}
				<div class="item hide" id="answer-{{ alt_cevap.id }}">
				<p><a href="{{ alt_cevap.user.url_profile }}" name="{{ alt_cevap.user }}" class="userurl">{{ alt_cevap.user }}</a> {{ alt_cevap.content|safe }} - <small class="timesince">{{ alt_cevap.c_time|timesince }}</small></p> 
				</div>
			{% endif %}
		{% endfor %}

		{% if cevap.alt_cevaplar.count > 3 %}<div class="toggle_comments"> Diğer Yorumları Göster</div>{% endif %}
		</div>
	</div>
	{% endif %}
	<hr/>
	<footer class="row text-center">
		{% if user.is_authenticated %}
		<div class="col-xs-4"><a href="javascript:void(0);" class="like {{ cevap|add_answer_liked_class:request.user }}" data-id="{{ cevap.id }}"><em class="far fa-thumbs-up"></em> Beğen (<span>{{ cevap.cevap_oylari_set.count }}</span>)</a></div>
		{% else %}
		<div class="col-xs-4"><a href="javascript:void(0);" onclick="alert('Bu işlem için üye olmanız gereklidir.');" class="like" data-id="{{ cevap.id }}"><em class="far fa-thumbs-up"></em> Beğen (<span>{{ cevap.cevap_oylari_set.count }}</span>)</a></div>
		{% endif %}
		<div class="col-xs-4"><a href="javascript:void(0);" class="toggle_answer"><em class="far fa-comment-alt"></em> Yorum Yaz</a></div>
		<div class="clearfix"></div>

		{% if cevap_form != None %}
		<form action="" class="hide" method="POST">{% csrf_token %}
			<h3>Cevapla</h3><hr/>
			<input type="hidden" name="cevap_id" value="{{ cevap.id }}" />
			<div class="form-group">
				<textarea name="content" id="content" class="form-control" rows="2" placeholder="Yanıtınızı yazın.."></textarea>
			</div>
			<div class="form-group">
				<input type="submit" name='cevap_yanitla' value="Yanıtla" class="btn btn-primary pull-right"/>
			</div>
		<div class="clearfix"></div>
		</form>
		{% endif %}
	</footer>

</div>
{% endfor %}
















<section id="yanitla">
<h3 class="big-title2 text-center">Soruyu Yanıtla</h3>
<div class="q-item mt20">

{% if cevap_form != None %}
<form action="" method="POST">{% csrf_token %}
	{{ cevap_form|crispy }}
	{{ cevap_form.media }}
	<div class="form-group"><input type="submit" value="Cevapla" name="soru_yanitla" class="btn btn-primary pull-right"></div>
</form>
{% else %}
<div class="alert alert-warning">Bu soruya yanıt verebilmek için üye olmanız gerekmektedir.<br/>
Kayıt olmak isterseniz <a href="{% url 'url_kayit_ol' %}">buraya tıklayarak hemen üye olabilirsiniz.</a></div>
{% endif %}


<div class="clearfix"></div>
</div>
</section>

</section>
{% endif %}

</div>

{% endblock %}


{% block sidebar_top %}
<div class="q-item mt40 q-infoside">
	<p><span>Gösterim :</span> {{ soru.views }}</p>
	<p><span>Yanıtlar :</span> {{ cevaplar.count }}</p>
	<p><span>Sorulma :</span> {{ soru.c_time }}</p>
	<p><span>Son Cevap :</span> {{ cevaplar.last.c_time }}</p>
	<hr>
	<a href="{{ soru.category.url_questions }}" class="tagurl" name="{{ soru.category }}">{{ soru.category }}</a>
	<hr>
	{% if soru.tags %}
	{% for tag in soru.tags.iterator %}
		<a href="{{ tag.url_questions }}" class="tagurl">{{ tag.name }}</a>
	{% endfor %}
	{% endif %}
</div>
{% endblock %}





{% block footer %}
<script>

$('#question-bar a#like').click(function(){
	var this_object = $(this);
	var like_count_object = this_object.find('span');
	var like_count = like_count_object.text();

	
	$.ajax({
		url: "{% url 'url_ajax_question_like' %}",
		type: 'GET',
		dataType: 'json',
		data: 'id={{ soru.id }}',
		success: function(response){


			if(response.status==true){
				if(response.work == 'insert'){
					this_object.addClass('liked');
					like_count_object.text( parseInt(like_count) + 1 );
				}

				if(response.work == 'delete'){
					this_object.removeClass('liked'); 
					like_count_object.text( parseInt(like_count) - 1 );
				}
				
			}
		}
	});

});






$('.answer-bar a.like').click(function(){
	var this_object = $(this);
	var this_id = this_object.attr('data-id');
	var like_count_object = this_object.find('span');
	var like_count = like_count_object.text();

	$.ajax({
		url: "{% url 'url_ajax_answer_like' %}",
		type: 'GET',
		dataType: 'json',
		data: 'id='+this_id,
		success: function(response){


			if(response.status==true){
				if(response.work == 'insert'){
					this_object.addClass('liked');
					like_count_object.text( parseInt(like_count) + 1 );
				}

				if(response.work == 'delete'){
					this_object.removeClass('liked'); 
					like_count_object.text( parseInt(like_count) - 1 );
				}
				
			}
		}
	});

});

</script>
{% endblock %}